h3{
    text-align: center;
    padding-top: 10px;
    
}

h5{
    
    padding: 0px 10px 10px 0px;
}
h4 {
    padding-top: 5px;
    margin-left: 3px;
    color:  rgb(19, 75, 19);
}

p{
    color: black;
}

.cards{
    width: 100%;
    
}
.card {
    border: 1px solid gray;
    width:33%;
    margin-left: 3px;
    float: left;
    margin-bottom: 30px;
        
}

.card-img-top {
    width: 80px;
    height: 250px;
    
}
/*----------------------------------Mobile-------------------------------------- */
@media only screen and (max-width: 769px) {
    .cards{
        width: 100%;
        
    }

    .card {
        border: 1px solid gray;
        margin-left: 3px;
        width: 100%;
       
    }

}