h3{
    text-align: center;
}

.card{
    height: 500px;
    padding: 10px;
}

.card-deck img{
   height: 70%;
   width: 100%;
   
}

.card-deck text{
    height: 30%;
    width: 90%;
    margin-top: 2%;
         
}

.abertos{
   padding: 10px;
}

.anteriores{
   padding: 10px;
}