
.conteiner {
  padding: 0px 10px;
  
}
.conteiner img{
      height: 550px;
    }

#banner{
  display: inline;
}
#banner img{
    width: 50%;
    height: 40%;
  }

b{
  padding: 10px;
  display: inline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: rgb(3, 32, 3);;
}

.logoIF {
  margin: 0px 10px 10px 10px;
  height:60px;
}


  